

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
                                /* body coding starts*/

*{
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
body{
    color:navy;
    background:white;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: block;
   margin:0 auto;
   background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(#ECE9E6));
background: -webkit-linear-gradient(left, #FFFFFF, #ECE9E6);
background: -o-linear-gradient(left, #FFFFFF, #ECE9E6);
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
overflow: scroll;
}
h1{
    text-transform:uppercase;
    font-size: 1.8em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#upperguy{
    height:30px;
   max-width:100%;
    background: #8360c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-gradient(linear, left top, right top, from(#2ebf91), to(#8360c3));
background: -webkit-linear-gradient(left, #2ebf91, #8360c3);
background: -o-linear-gradient(left, #2ebf91, #8360c3);
background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.phone{
    height:10px;
    margin-left:85%;   
    padding-top:5px;
    color:white;    
}


                                                  /*header*/
.backbg{
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.backbg:hover{
 -webkit-filter:blur(4px);
         filter:blur(4px);
  }
.backbg:hover ~ .mainlogo{
    -webkit-transition-duration: 2s;
         -o-transition-duration: 2s;
            transition-duration: 2s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2)
}

#header{
    opacity: 1;
    background-size:100% 100vh;
    background-attachment: cover;
    background-repeat: no-repeat;
    height:100vh;
    width:100%;
    margin-top:0;
    position:relative;
    overflow: hidden;
}

                                                   /*header logo*/


.mainlogo{
    position:absolute;
    top:27%;
    left:31%;
    height:200px;
}
  .headerlogo{
    
    width:450px;
    font-family: Arial, Helvetica, sans-serif;
    
    text-align:center;


padding:10px;

margin-top:-2%;



}
.headerlogo h1{
    font-size: 2em;
    padding:2px;
    
}
.headerlogo-1{
    opacity: 0.7;
    
    text-align:center;
   
}
.reallogo{
    height:100px;
    width:auto;
   
    z-index:33;
   position: relative;
    
}
.reallogo-img{
    height:62px;
    width:65px;
     position: absolute;
    left:43.8%;
    top:37%;
    
}
                                                /*header navigation*/
#nav{
     


position:absolute;
top:0%;
background: none;
width:100%;
}
#nav:hover{
    background: #f5f5f5;
}

.main-nav{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    
    
    height:auto;
    width:100%;

z-index:39;

    
}
.main-nav > li:last-child{
    margin-left:none;
}
.main-nav > li{
    
    padding:10px;
    
    
}
.main-nav > li > a{
    padding:5px;
   
}
.navcontact{
    margin-left:auto;
    
}
#nav li a{
 
 width: auto;
}
.pp{
    position: relative;
}
i {
    border: solid navy;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position:absolute;
    top:34%;
    right:-1%;
  }
.down {
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }


#nav li ul {
  border:1px solid transparent;
  color:navy;
 z-index: 39;
}
#header nav ul li:hover{
    border:1px solid transparent;

}
.bused{
    margin-right:0%;
    display: none;
}
                                   /*header navigation tab-shown*/

#header nav ul ul> li:hover{
    background: none;
}
#header nav ul li a{
    color:navy;
    display: block;
    padding:10px 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

}
#header nav ul ul{
    background: #f5f5f5;
    border:1px solid transparent;
    
    border-top:0;
   
    padding:5px 0;
    position:absolute;
    min-width:140px;
    z-index:102;
    visibility: hidden;
    top:100%;
}


#header nav li:hover > ul{
    visibility: visible;
}
#header nav ul li:hover{
    border:1px solid #eee;
    -webkit-box-shadow: 0px -3px 17px 4px rgba(238,14,NaN,1);
box-shadow: 0px -3px 17px 4px rgba(238,14,NaN,1);
}


                                                 /*About Page*/

    
                                                 
    .about-1{
        margin-top:8%;
    }
    #about{
        
        margin-top:5%;
        width:100%;  
        height: 70vh; 
        margin-bottom:5px;
        background:#003366;
        color :white;  
    overflow: hidden;
    background-color: #2234ae;
    background-image: -webkit-linear-gradient(135deg, #2234ae 0%, #191714 74%);
    background-image: -o-linear-gradient(135deg, #2234ae 0%, #191714 74%);
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
        }
        .about-1{
            margin-top:8%;
        }
    #about h1{
        margin:10px;
        margin-top:15px;
        font-size: 1.8em;
        text-align: center;
    }
    #about p{
        
        font-size: 1.1em;
        font-family: 'Times New Roman', Times, serif;
        
        padding:10px;
        text-align: center;
        line-height: 1.5em;
    }

    .aboutlearn{
        background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
        background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
        background-image: -o-linear-gradient(left, #fa709a 0%, #fee140 100%);
        background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        padding:4px;
        margin:auto;
        border:1px solid #003366;
        height:40px;
        width:120px;
        border-radius:20px;
        position: relative;
    
       }
       .aboutlearn a{
           
           color:white;
          top:30%;
          left:15%;
           position:absolute;
       }
       a{
           text-decoration: none;
           
       }




                                                         /*cover*/
    #cover{
        margin-top:5%;
        
        z-index:31;
        height:100vh;
        background: white;
        width:97%;
        margin-left:1.5%;
        
       
    }
    #cover:hover{
        -webkit-box-shadow: 0px -4px 18px 0px rgba(5,8,79,0.45);
        box-shadow: 0px -4px 18px 0px rgba(5,8,79,0.45);
        
    }
    
    .boxing{
        
        display:-ms-grid;
        display:-webkit-grid;            
        display:grid;
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
       margin-bottom:5%;
       
        
    }
    
    .boxing >div{
        width:100%;
      background: white;
     overflow: hidden;
     

        
    }
    .boxingimg{
        width:80%;
        height: 100vh;
        padding-left:9%;

    }
    .textbox{
        color: black;
    overflow: hidden;
    
    }
    .textbox h1{
     font-size: 1.6em;
     color:#000040;
     padding-top:9%;
     text-align: center;
    }
   .textbox p{
    line-height: 1.5em;
    opacity: 0.7;
    text-align: center;
    margin-right:2%;
   }
    
.textbox .cover-team{
        border:1px solid white;
        margin-top:5%;
     margin-left:38%;
       height:40px;
       width:150px;
       border-radius:20px;
     position: relative;
     background: #134E5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-gradient(linear, left top, right top, from(#71B280), to(#134E5E));
background: -webkit-linear-gradient(left, #71B280, #134E5E);
background: -o-linear-gradient(left, #71B280, #134E5E);
background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;

       }

   
       .textbox .cover-team a{
           color:white;
           position: absolute;
           top:25%;
           left:17%;
       }
                                                         /*Work*/
        #work{
        height:120vh;
        width:100%;
        margin-top:5%;
        margin-bottom:5%;
        text-transform: uppercase;
        font-size: 1.3em;
        -webkit-animation: slideInUp 3s linear 1s;
        animation: slideInUp 3s linear 1s ;
        position: relative;
        
        }   
        #work:hover{
            -webkit-box-shadow: 0px -4px 18px 0px rgba(5,8,79,0.45);
        box-shadow: 0px -4px 18px 0px rgba(5,8,79,0.45);
        }
        .contwork{
            text-align: center;
            padding:20px;
            color:#003366;
            font-size:1.6em;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .containerw-1{
            display: -ms-grid;
            display:-webkit-grid;  
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
            -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            -ms-grid-rows:auto;
            grid-template-rows:auto;
            grid-gap: 5px;
            
        }
        .containerw-1 > *:nth-child(1){
	-ms-grid-row: 1;
	-ms-grid-column: 1;
            
        }
        .containerw-1 > *:nth-child(2){
	-ms-grid-row: 1;
	-ms-grid-column: 3;
            
        }
        .containerw-1 > *:nth-child(3){
	-ms-grid-row: 1;
	-ms-grid-column: 5;
            
        }
        .containerw-1> div{
           padding:20px;   
           
        }
       .widthcontainertocenter{
            width:71%;
            margin:auto;
        }
        .containerw-2{
            display: -ms-grid;
            display:-webkit-grid;  
            display: grid;
            -ms-grid-columns: 1fr 5px 1fr;
            grid-template-columns: 1fr 1fr;
            
            grid-gap: 5px;
            margin-left:auto;
            
        }
        .containerw-2> div{
           padding-right:20px;
           padding-left: 20px;
           margin:auto;
           padding-top:10px;  

        }
        .c1  img{
            width:100%;
        }
        .c1  img:first-child{
            height:250px;
        }
.c1{
    position: relative;
}
.c1-1{
    position:absolute;
    z-index: 111;
    top:50%;
    left:30%;
    color:white;
}
.civildiv{
    left:40%;
}
.c1:hover > a .c1-1{
    
    -webkit-transform: scale(1.4);
    
        -ms-transform: scale(1.4);
    
            transform: scale(1.4);

}
@-webkit-keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  
                                                        /*Contactdown*/
       #contactdown{
           height:60vh;
           width:60%;
          
           background:none;
           
           margin:auto;
           margin-bottom:80px;
           margin-top:2%;
        -webkit-animation:jackInTheBox 2s linear 5s;
                animation:jackInTheBox 2s linear 5s;
           
       }
       #contactdown:hover{
        -webkit-box-shadow: 0px -4px 18px 0px rgba(5,8,79,0.45);
        box-shadow: 0px -4px 18px 0px rgba(5,8,79,0.45);

        
       }
       .contacthome1{
           display:-ms-grid;
           display:-webkit-grid;  
           display:grid;
           -ms-grid-columns: 1fr;
           grid-template-columns: 1fr;
           padding:25px;
           
           
       }
       .contacthome1-1{
        padding:10px;
        color:black;
        text-align: justify;
        line-height: 1.5em;
        margin-top:4%;
        
       }
       .contacthome1-1 h1{
           font-size: 1.9em;
           margin-bottom:10px;
           text-align: center;
           font-weight: normal;
           font-family: Arial, Helvetica, sans-serif;
       }
       .contacthome1-1 p{
        
        margin-bottom:20px;
        opacity: 0.7;
        line-height: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    text-align: center;
    }
    .contacthome1-1 .noneopas{
        opacity: 1;
    }
       .contacthomecontact{
           border:1px solid white;
           border-radius:20px;
           width:120px;
           height:40px;
           
           position: relative;
           margin:auto;
           
background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
           
background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
           
background-image: -o-linear-gradient(left, #fa709a 0%, #fee140 100%);
           
background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
       }
       .contacthomecontact a{
           position:absolute;
           color:whitesmoke;
           left:15%;
           top:30%;

       }
       @-webkit-keyframes jackInTheBox {
        from {
          opacity: 0;
          -webkit-transform: scale(0.1) rotate(30deg);
          transform: scale(0.1) rotate(30deg);
          -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
        }
      
        50% {
          -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
      
        70% {
          -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
        }
      
        to {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      
      @keyframes jackInTheBox {
        from {
          opacity: 0;
          -webkit-transform: scale(0.1) rotate(30deg);
          transform: scale(0.1) rotate(30deg);
          -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
        }
      
        50% {
          -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
      
        70% {
          -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
        }
      
        to {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      
      
      

                                                             /*footer*/
    #footer{
        color:#f5f5f6;
        background-color: #000000;
        background-image: -webkit-linear-gradient(303deg, #000000 0%, #04619f 74%);
        background-image: -o-linear-gradient(303deg, #000000 0%, #04619f 74%);
        background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
       height:70vh;
       line-height: 1.4em;
overflow:hidden;
        width:100%;
    }

    .footer1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        height:59%;
     
    }
    .footer1 > div{
        -webkit-box-flex:1;
            -ms-flex:1;
      -webkit-flex:1;
                flex:1;
        padding:10px;
        margin-top:5%;
        border-right:1px solid black;
    }
    .bottombox-one p{
     text-align: center;
     padding:5px;
    }
    .bottombox-one h1{
        font-size: 1.3em;
        padding:10px;
    }
    .footerlogo-1{
        text-align: center;
        padding:5px;
    }
    .bottom-socialmedia {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        
    }
    .s1{
        padding:10px;
        margin-top:5%;
        margin-left:4%;
    }
    .s1 img{
        height:70px;
        width:70px;
        background: white;
    }
    
    .s1 img{
        border-radius:70px;
       
    }
.bootom-nav{
    
    margin-top:9%;
    width:70%;

}
.bnyo{
    border-top:1px solid black;
    width:75%;
    margin:auto;
    margin-top:2%;
   
    
}
    .bottom-nav1{
        line-height: 1.3em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
        width:85%;
        margin-left:13%;
     
       
    }
    .bottom-nav1 > li{
        padding:10px;
    margin-top:14%;
        padding-bottom:0px;
        margin-left:5%;
        
        width:auto;
       
        
    }
    .bottom-nav1 > li a{
        color:white;
        
    }

/* viewport 960px and below*/


                                              /* CONTACT PAGE CODING*/
#contacthere{
    width:100%;   
}
.containercontact-11{
   display: -webkit-grid;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    height:70vh;
    padding:40px;
    margin-top:5%;
    background: white;
    margin-bottom:5%;
    
    

}

.containercontact-11 > div{
    padding:10px;
   
    color:black;
    margin-top:14%;
    
    
}
.containerdetail {

 text-align: center;
 margin:30px;

}
.containerdetail h1{
    text-transform:uppercase;
    font-size: 1.7em;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
.containerdetail p{
    line-height: 1.3em;
    padding:20px;
opacity:0.6;
text-align: center;
}
.containeradd{
    padding-left:20px;
}
.containeradd p, .containeradd h1{
    padding:10px;
    border-left:1px solid;
}
.containeradd h1{
    text-align: center;
    font-size: 1.4em;
    
    margin-top:18px;
    opacity: 0.6;
} 
                                                /*form Start*/
.registerf{
    width:100%;
    
    
    color:white;
    
    height:auto;
    background-color: #2a2a72;
background-image: -webkit-linear-gradient(135deg, #2a2a72 0%, #009ffd 74%);
background-image: -o-linear-gradient(135deg, #2a2a72 0%, #009ffd 74%);
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    
}
.registerf > h1{
    font-size:1.3em;
    padding-top:3%;
    text-align: center;
    color:white;
    padding-bottom:10px;
    border-bottom:1px solid white;
    width:40%;
    margin-left:29%;
    line-height: 1.4em;

}
.imbigform{
    
    padding:10px;
}
.imform{
    
    margin-left:12%;

   
    
}
.imform > div{
    padding:10px;

    width: 85%; 



}
.imform > div:last-child{
    width:auto;
}
 input{
    width:100%;
    padding:10px;
    border-radius:10px;

}
textarea{
    width:100%;
    border-radius:10px;

}

.contrb{
    
    margin-left:35%;
    
}
.registerbutton{
    width:auto;
    background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
    background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
    background-image: -o-linear-gradient(left, #fa709a 0%, #fee140 100%);
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    border-radius:20px;
    color:white;
    font-size: 1.2em;
}
                                     /*Meet the team page starts*/

.teamoverview{
    width: 50%;
    padding:20px;                   /*used for testimonial too*/
    margin-top:5%;
    margin-left:23%;
    text-align: center;
height:50vh;
color:black
}
.teamoverview h1{
    padding:10px;
    font-size: 1.8em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.teamoverview p{
    padding:20px;
    opacity: 0.8;
    line-height: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}
.teammembers{
width:80%;
height:90vh;
margin-left:10%;
border-top:1px solid black;
padding-top:80px;


}
.members-1{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.members-1 >div {
    padding:5px;
    width:100%;
    background: white;
    height:400px;
    text-align:center;
    color:black;
}

.i-1 img{
    width:100%;
    height:275px
    
}
.i-1 p{
    padding:10px;
    margin-bottom: 5%;
}
.teamyob{
    color:white;
    
    border:1px solid white;
    background: navy;
    border-radius:20px;
    padding:10px;
    width:40%;
margin:auto;
}
                                                  /*Work*/
.simplecontwork{
    height:100vh;
    width:80%;
    margin-left:20%;
    color:black;
   
}
.simplecontwork > div:last-child{
    width:12%;
}
.cont11-1{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 10px 1fr;
  grid-template-columns: 3fr 1fr;
  grid-gap:10px;
  padding:20px;
 
}
.cont11-1 > div{
    padding:20px;
}
.cont11-1-1 h1{
  padding:10px;

}
.cont11-1-1 h2{
padding:10px;
font-size:1.3em;
text-align: center;
}
.cont11-1-1 p{
    text-align: center;
    padding:20px;
    opacity: 0.8;
    line-height: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;


}

.cont11-1-2{
    border-left:1px solid black;
    
}
.cont11-1-2 h1{
    font-size: 1.3em;
    padding:20px;
}
.cont11-1-2 p{
    padding:20px;
    opacity: 0.8;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;

}

.contactwo1{
    border:1px solid transparent;
    background: navy;
    border-radius:17px;
    padding:10px;
    margin-left:31%;
    width:auto;
}
.contactwo1 a{
    color:white;
    font-size: 1.3em;
    margin-left:7%;
}

                                                  /*testimonial*/

  .testii{
      height:70vh;
      padding:40px;
  }                                                
  .reviewyob{
      border:1px solid transparent;
      border-radius:25px;
      background: navy;
       padding:14px;

      width:25%;
      margin-left:37%;
  }
  .reviewyob a{
      color:white;
      font-size: 1.4em;
  }
  .reviewsection{
    width:80%;
    margin-left:10%;
    padding:20px;
    margin-top:5%;
    margin-bottom:5%
  }
  .r1{
      padding:20px;
      margin:20px;
      border:1px solid  transparent;
      border-radius:14px;
    background: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height:40vh;
  }


  .r1 img{
      border:1px solid transparent;
      height:150px;
      width:150px;
      border-radius: 150px;
      margin-top:2%;
  }
  .r1 p{
      line-height: 1.3em;
      font-family: Arial, Helvetica, sans-serif;
      color:black;
     
      font-size: 1.1em;
     width:60%;
     margin:auto;

  }
 .r1 p span{
     margin-left:80%;
     
 }

                                                           /* media for tablet */
 @media only screen /*and  (min-width:768px)*/
 and (max-width: 1024px) 
 {
    #upperguy{
        height: 35px;
        padding:0;
        margin:0px;
        max-width:100%;
    }
   #upperguy .phone{
       margin-left:80%; 
    }
   #header{
    height:auto;    
    }
    .backbg{
        height:60vh;
    }
  .mainlogo{
      top:25%;
      left:25%;
  }
  #header nav ul ul{
      top:100%;
  }
  #about{
      height:auto;
  }
  .about-1{
      margin-top:5%;
      margin-bottom:5%;
  }
  #about p{
      padding:5px;
      font-size: 1.2em;
      line-height: 1.4em;
  }
  #cover{
      height:auto;
      margin-bottom: 5%;
      padding-bottom:1%;
  }
  .textbox{
      padding-bottom:5px;
  }
  .boxingimg{
    height:auto;

  }
  .textbox .cover-team{
      margin-left:29%;
  }
  #work{
      height:auto;
      -webkit-animation: none;
              animation: none;
      padding-bottom:5%;
  }
  .containerw-1{
      height:auto;
  }
  

  .containerw-1{
      width:67%;
      margin-left:16%;
      display: block;
    
  }
  .c1{
      margin-left:5%;
      
  }
  
  .containerw-2{
      display: block;
      height:auto;
      margin-left:7%;
      width:87%;
      
      
  }
  .containerw-2 > div{
         padding:7px;
         margin-bottom:7%;
         margin-left:3%;
         
  }
  
  .c1-1{
      left:35%;
      top:47%;
  }
  #contactdown{
      -webkit-animation: none;
              animation: none;
      margin-left:20%;
      margin-bottom:0;
      padding-bottom:0;
      height:auto;
      margin-bottom:5%;
  }
  #footer{
      height:auto;
      margin-top:0;
      padding-top:0;
  }
  .footer1{
    height:auto;
  }
  
  .footer1 > div{
      padding:0px;
      height:auto;

     
  }
  .bottombox-one p{
      padding:0;
  }
  .footer1 > div:nth-child(2){
      padding:5px;
  }
  .s1{
      padding:4px;
      margin-left:1%;
  }
  .bootom-nav{
      width:100%;
  }
.bonyo{
    width:100%;
    
}
  .bottom-nav1{
      margin-left:4%;
      width:100%;
      margin:0;
  }
  .bottom-nav1 > li{
      padding:4px;
  }
  
  .simplecontwork{
      width:100%;
     margin:0;
      height:auto;
      padding-bottom:5%;
  }
  .simplecontwork > div:last-child{
    width:15%;
}
  .contactwo1{
    
      margin-top:2%;
    
  }
  .contactwo1 a{
      margin-left:5%;
  }
    /* meet the team */
  .teamoverview{
      width:80%;
      margin:10%;
      height:auto;
  }
  .teammembers{
      height:auto;
      margin-bottom:5%;
  }
    /* testimonials */
  .testii{
      width:80%;
      height: auto;
      margin-left:10%;

  }
  .reviewyob{
      margin-left:35%;
  }
  .reviewsection > div{
      height:auto;
  }
       /* Contact page */
  .containercontact-11{
      height:auto;
  }
  .registerf{
      height:auto;
  }
 } 
 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media  only
screen and (max-width: 739px) {
    .main-nav li{
      display: none;
    }
    .main-nav li:last-child {
     
      display: block;
      margin-left:0%;
      
    }
  
  #nav{
      width:100%;
      height:auto;
      position:fixed;
      z-index:205;
      background: #f5f5f5;
      top:5%;
      
  }
  #header nav ul ul{
      position: relative;
      display: none;
      height:auto;
  }
  #header nav .main-nav ul ul li:last-child{
text-align: center;
  }
}
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media only screen and (max-width: 739px) {
    #header nav .main-nav.responsive 
    {position: relative;
    display: block;
    width:100%;
    text-align: center;
    height:auto; 
   
    
}

    #header nav .main-nav.responsive .bused {
      position: absolute;
      
      top: 0;
    }
    #header nav .main-nav.responsive li {
      float: none;
      display: block;
      text-align: center;
      width:100%;
      height:auto;
      padding:10px;

    }
    #header nav .main-nav.responsive ul{
        height:auto;

    }
    #header nav .main-nav.responsive ul li{
        height:auto;

    }
    #header nav .main-nav.responsive li:last-child{
text-align:left;
margin-left:5%;
margin-bottom:5%;
height: auto;
width:auto;
    }
    #header nav .main-nav.responsive ul {
    height:auto;}
    #header nav .main-nav.responsive ul li:last-child {
        text-align: center;
        margin-left:0%;
       
    
    }
    
    #header nav .main-nav.responsive li:hover > ul{
        display: block;
    }
  }
                                         /*media for phones*/
 
@media only screen and (max-width :650px)

 {

    #upperguy{
        height: 35px;
        padding:0;
        margin:0px;
        max-width:100%;
    }
   #upperguy .phone{
       margin-left:65%; 
    }
   #header{
    height:auto;    
    }
    .backbg{
        height:55vh;
    }
  .mainlogo{
      top:20%;
      left:10%;
      margin:auto;
      overflow: hidden;

  }
  .headerlogo{
      padding:0;
      
  }
  .headerlogo h1{
    font-size: 1.5em;
    padding:0;
    
}
.reallogo-img{
    top:33%;
    
}
.backbg:hover ~ .mainlogo{
    
    -webkit-transform: none;
    
        -ms-transform: none;
    
            transform: none;
}
  #header nav ul ul{
      top:100%;
  }
  #about{
      height:auto;
  }
  .about-1{
      margin-top:5%;
      margin-bottom:5%;
  }
  #about p{
      padding:6px;
      font-size: 1.1em;
      line-height: 1.2em;
      padding-bottom:5%;
  }
  #cover{
      height:auto;
      margin-bottom: 5%;
      padding-bottom:1%;
      
  }
  .boxing{
    display: block;
  }
  .boxingimg{
      
    padding-top:5%;
  height:auto;
  padding-bottom:9%;

}
  .textbox{
      padding-bottom:5px;
      
  }
 .textbox h1{
     width:70%;
     border-top:1px solid;
     margin-left:15%;
 }
 .textbox p{
    line-height: 1.3em;
    
    font-size: 1.1em;
    padding:4px;
   }
  .textbox .cover-team{
      margin-left:29%;
  }
  #work{
      height:auto;
      -webkit-animation: none;
              animation: none;
      padding-bottom:5%;
  }
  .containerw-1{
      height:auto;
  }
  

  .containerw-1{
      width:100%;
      margin-left:-1%;
      display: block;
     
    
  }
  .containerw-1> div{
    padding:0px;
    padding-bottom:20px;   
    

    
 }
  .widthcontainertocenter{
    width:100%;
    margin:0;
    
}
  
  .containerw-2{
      display: block;
      height:auto;
      margin-left:3.6%;
      width:95%;
      
      overflow:hidden;
      margin-top:2%;

      
  }
  .containerw-2 > div{
         
         margin-bottom:7%;
         margin-left:0;
         
         padding:0;
         
  }
  
  .c1-1{
      left:35%;
      top:47%;
  }
  .civildiv{
      left:40%;
  }
  #contactdown{
      -webkit-animation: none;
              animation: none;
      margin-left:0%;
      margin-bottom:0;
      padding-bottom:0;
      height:auto;
      margin-bottom:9%;
      width:100%;
  }
  .contacthome1-1 p{
      font-size: 1.2em;
  }
  #footer{
      height:auto;
      margin-top:0;
      padding-top:0;
      
  }
  .footer1{
    height:auto;
    display:block;
  }
  
  .footer1 > div{
      padding:0px;
      height:auto;

     
  }
  .bottombox-one p{
      padding:0;
  }
  .bottombox-one p:last-child{
      width:50%;
      margin-left:25%;
    border-bottom:1px solid black;
    padding-bottom:2%;
    
}

.footerlogo h2{
    width:58%;
    margin-left:22%;
    border-bottom:1px solid black;
    padding-bottom:2%;
   
}
.bottom-socialmedia{
    margin:0;
    padding:0;
    margin-left:22%;
}
  .s1{
      padding:4px;
      margin-left:1%;
  }
  .bootom-nav{
      width:100%;
  }
.bonyo{
    width:100%;
    
}
  .bottom-nav1{
      
      width:100%;
      margin:0;
      display:block;
      text-align: center;

     
  }
  .bottom-nav1 > li{
      padding:2px;
      font-size: 0.9em;
      margin-left:0;
  }
  

  .contactwo1{
    
      margin-top:2%;
    
  }
  .contactwo1 a{
      margin-left:5%;
  }
    /* meet the team */
  .teamoverview{
      width:90%;
      margin-left:1%;
      height:auto;
  }
  .teamoverview h1{
      padding:5px;
  }
  .teamoverview p{
      margin-left:-1%;
      padding:10px;
      font-size: 1.3em;
      padding-bottom:5%;
  }
  .teammembers{
      height:auto;
      margin-bottom:5%;
  }
  .members-1{
      display: block;
  }
    /* testimonials */
  .testii{
      width:100%;
      height: auto;
      margin-left:0%;
      padding:5px;

  }
  .reviewyob{
      margin-left:35%;
  }
  .reviewsection{
      width:95%;
      margin-left:0;
      padding:0;
  }
  .reviewsection  .r1{
      height:auto;
      width:100%;
      margin-bottom:20px;
      padding:0px;
      
      display:block;
  }
  .r1 img{
      margin-left:33%;
  }
  .r1 p{
   margin-bottom:3%;
   width:80%;

}
  .r1 p span{
     
    margin-left:70%;
    
}
       /* Contact page */
  .containercontact-11{
      height:auto;
      display: block;
  }
  .containerdetail {
    margin:10px;
   
   }
   .containerdetail h1{
       font-size: 1.5em;
       line-height: 1.3em;

   }
   .containerdetail p{
       line-height: 1.3em;
       padding:5px;
       font-size: 1.1em;
       width:100%;
       margin-top:10px;
       opacity: 0.7;
   }
   
  .containeradd h1{
    padding:10px;
    border:none;
    border-top:1px solid;
    padding-top:5%;
    margin-top:5px;
    
}
.containeradd p{
    border:none;
}
  .registerf{
      height:auto;
  }
 
  .contrb{
    
    margin-left:20%;
    
}
                      /*Work page*/
.simplecontwork{
    width:100%;
   margin:0;
    height:auto;
    padding-bottom:5%;
}
.simplecontwork > div:last-child{
  width:50%;
margin-left:25%;


}
.cont11-1{
    display: block;
    
  }
  .cont11-1-2{
    border-left:none;
text-align: center;
}
.cont11-1-2 h1{
    font-size: 1.3em;
    padding:20px;
    border-top:1px solid black;

}
.contactwo1 a{
    color:white;
    font-size: 1.5em;
    margin-left:22%;
   
}

}
@media only screen and (max-width :420px){


    #upperguy{
        height: 35px;
        padding:0;
        margin:0px;
        max-width:100%;
    }
   #upperguy .phone{
       margin-left:40%; 
    }
   #header{
    height:auto;    
    }
    .backbg{
        height:50vh;
        -o-background-size: 100% 90%;
  -moz-background-size: 100% 90%;
  -webkit-background-size: 100% 90%;
  background-size: 100% 90%;
    

        
    }
  .mainlogo{
      
      position: absolute;
      overflow: hidden;
      left:-8%;
      margin:auto;
  }
  .headerlogo{
      padding:0;
      
  }
  .headerlogo h1{
    font-size: 1.5em;
    padding:0;
    
}
.reallogo-img{
    top:33%;
    
}
.backbg:hover ~ .mainlogo{
    
    -webkit-transform: none;
    
        -ms-transform: none;
    
            transform: none;
}
  #header nav ul ul{
      top:100%;
  }
  #about{
      height:auto;
  }
  .about-1{
      margin-top:5%;
      margin-bottom:5%;
  }
  #about p{
      padding:6px;
      font-size: 1.1em;
      line-height: 1.2em;
      padding-bottom:5%;
  }
  #cover{
      height:auto;
      margin-bottom: 5%;
      padding-bottom:1%;
      
  }
  .boxing{
    display: block;
  }
  .boxingimg{
      
    padding-top:5%;
  height:auto;
  padding-bottom:9%;

}
  .textbox{
      padding-bottom:5px;
      
  }
 .textbox h1{
     width:70%;
     border-top:1px solid;
     margin-left:15%;
 }
 .textbox p{
    line-height: 1.3em;
    
    font-size: 1.1em;
    padding:4px;
   }
  .textbox .cover-team{
      margin-left:29%;
  }
  #work{
      height:auto;
      -webkit-animation: none;
              animation: none;
      padding-bottom:5%;
  }
  .containerw-1{
      height:auto;
  }
  

  .containerw-1{
      width:100%;
      margin-left:-1%;
      display: block;
     
    
  }
  .containerw-1> div{
    padding:0px;
    padding-bottom:20px;   
    

    
 }
  .widthcontainertocenter{
    width:100%;
    margin:0;
    
}
  
  .containerw-2{
      display: block;
      height:auto;
      margin-left:3.6%;
      width:95%;
      
      overflow:hidden;
      margin-top:2%;

      
  }
  .containerw-2 > div{
         
         margin-bottom:7%;
         margin-left:0;
         
         padding:0;
         
  }
  
  .c1-1{
      left:35%;
      top:47%;
  }
  .civildiv{
      left:40%;
  }
  #contactdown{
      -webkit-animation: none;
              animation: none;
      margin-left:0%;
      margin-bottom:0;
      padding-bottom:0;
      height:auto;
      margin-bottom:9%;
      width:100%;
  }
  .contacthome1-1 p{
      font-size: 1.2em;
  }
  #footer{
      height:auto;
      margin-top:0;
      padding-top:0;
      
  }
  .footer1{
    height:auto;
    display:block;
  }
  
  .footer1 > div{
      padding:0px;
      height:auto;

     
  }
  .bottombox-one p{
      padding:0;
  }
  .bottombox-one p:last-child{
      width:50%;
      margin-left:25%;
    border-bottom:1px solid black;
    padding-bottom:2%;
    
}

.footerlogo h2{
    width:58%;
    margin-left:22%;
    border-bottom:1px solid black;
    padding-bottom:2%;
   
}
.bottom-socialmedia{
    margin:0;
    padding:0;
    margin-left:22%;
}
  .s1{
      padding:4px;
      margin-left:1%;
  }
  .bootom-nav{
      width:100%;
  }
.bonyo{
    width:100%;
    
}
  .bottom-nav1{
      
      width:100%;
      margin:0;
      display:block;
      text-align: center;

     
  }
  .bottom-nav1 > li{
      padding:2px;
      font-size: 0.9em;
      margin-left:0;
  }
  

  .contactwo1{
    
      margin-top:2%;
    
  }
  .contactwo1 a{
      margin-left:5%;
  }
    /* meet the team */
  .teamoverview{
      width:90%;
      margin-left:1%;
      height:auto;
  }
  .teamoverview h1{
      padding:5px;
  }
  .teamoverview p{
      margin-left:-1%;
      padding:10px;
      font-size: 1.3em;
      padding-bottom:5%;
  }
  .teammembers{
      height:auto;
      margin-bottom:5%;
  }
  .members-1{
      display: block;
  }
    /* testimonials */
  .testii{
      width:100%;
      height: auto;
      margin-left:0%;
      padding:5px;

  }
  .reviewyob{
      margin-left:35%;
  }
  .reviewsection{
      width:95%;
      margin-left:0;
      padding:0;
  }
  .reviewsection  .r1{
      height:auto;
      width:100%;
      margin-bottom:20px;
      padding:0px;
      
      display:block;
  }
  .r1 img{
      margin-left:33%;
  }
  .r1 p{
   margin-bottom:3%;
   width:80%;

}
  .r1 p span{
     
    margin-left:70%;
    
}
       /* Contact page */
  .containercontact-11{
      height:auto;
      display: block;
  }
  .containerdetail {
    margin:10px;
   
   }
   .containerdetail h1{
       font-size: 1.5em;
       line-height: 1.3em;

   }
   .containerdetail p{
       line-height: 1.3em;
       padding:5px;
       font-size: 1.1em;
       width:100%;
       margin-top:10px;
       opacity: 0.7;
   }
   
  .containeradd h1{
    padding:10px;
    border:none;
    border-top:1px solid;
    padding-top:5%;
    margin-top:5px;
    
}
.containeradd p{
    border:none;
}
  .registerf{
      height:auto;
  }
 
  .contrb{
    
    margin-left:20%;
    
}
                      /*Work page*/
.simplecontwork{
    width:100%;
   margin:0;
    height:auto;
    padding-bottom:5%;
}
.simplecontwork > div:last-child{
  width:50%;
margin-left:25%;


}
.cont11-1{
    display: block;
    
  }
  .cont11-1-2{
    border-left:none;
text-align: center;
}
.cont11-1-2 h1{
    font-size: 1.3em;
    padding:20px;
    border-top:1px solid black;

}
.contactwo1 a{
    color:white;
    font-size: 1.5em;
    margin-left:22%;
   
}

}
